# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Gustav Kristensen
email = gustavkrist@gmail.com

[core]
    pager = delta
	excludesfile = /Users/gustavkristensen/.gitignore_global

[interactive]
    diffFilter = delta --color-only

[include]
    path = ~/.config/delta/themes.gitconfig

[delta]
    ; features = villsau
    features = chameleon
    navigate = true  # use n and N to move between diff sections
    line-numbers = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
[credential]
	helper = cache
