{{ if eq .chezmoi.os "darwin" }}
eval "$(/opt/homebrew/bin/brew shellenv)"
export PATH="$PATH:/Users/gustavkristensen/Library/Application Support/JetBrains/Toolbox/scripts"
{{ else if eq (env "WSL_DISTRO_NAME") "Ubuntu" }}
export HOMEBREW_PREFIX="/home/linuxbrew/.linuxbrew";
export HOMEBREW_CELLAR="/home/linuxbrew/.linuxbrew/Cellar";
export HOMEBREW_REPOSITORY="/home/linuxbrew/.linuxbrew/Homebrew";
export PATH="/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin${PATH+:$PATH}";
[ -z "${MANPATH-}" ] || export MANPATH=":${MANPATH#:}";
export INFOPATH="/home/linuxbrew/.linuxbrew/share/info:${INFOPATH:-}";
{{ end }}
export NVIM_LISTEN_ADDRESS='/tmp/nvimsocket'
export LANG="en_US.UTF-8"
export LC_CTYPE="en_US.UTF-8"
