[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
{{ if eq .chezmoi.os "darwin" }}
[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
{{ else if eq (substr 0 6 (env "WSL_DISTRO_NAME")) "Ubuntu" }}
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
{{ end }}
[user]
	email = gustavkrist@gmail.com
	name = Gustav Kristensen
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[merge]
	tool = vimdiff
[mergetool]
  keepBackup = false
  prompt = false
[mergetool "vimdiff"]
  cmd = "nvim -d \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\" -c 'wincmd J | wincmd ='"
[safe]
	directory = /home/swuser/supwiz
[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
