/* colors */

* {
  al:      #00000000;
  bg:      #434C5Eff;
  se:      #4C566Aff;
  fg:      #ECEFF4cc;
  ac:      #81A1C1;
  red:     #BF616A;
  green:   #A3BE8C;
  yellow:  #EBCB8B;
  blue:    #81A1C1;
  purple:  #B48EAD;
  cyan:    #88C0D0;
}

